{% extends 'Blog/layout.html' %}

{% block body %}
<div class="article-container">
    <div class="article-header">
        <h1>{{ article.title }}</h1>
        <div class="subtitle">{{ article.subtitle }}</div>
    </div>
    <div class="author">By: {{ article.author }}</div>
    <div class="date-posted">Posted on: {{ article.date_posted|date:"F d, Y" }}</div>
    <div class="platforms">
        <strong>Platforms:</strong>
        <span class="platform-list">
            {% for platform in article.platforms.all %}
                <span class="platform-item">{{ platform.name }}</span>
            {% endfor %}
        </span>
    </div>
    <div class="tags">
        <strong>Tags:</strong>
        <span class="tag-list">
            <span class="tag-item">{{ article.get_tag_display }}</span>
        </span>
    </div>
    <div class="content">
        {% if article.picture %}
            <img src="{{ MEDIA_URL }} {{ article.picture.url }}" alt="{{ article.title }}">
        {% endif %}
        {{ article.content | safe }}
    </div>
</div>
{% endblock %}
