{% extends "Blog/layout.html" %}


{% block head %}
<style>
.grid-container {
  background-color: burlywood;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  color: black;
}

.heading {
  text-align: center;
}

.article {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.article h2 {
  margin-top: 0;
}

.article .platforms {
  font-style: italic;
  color: gray;
}

.article img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px 0;
}
</style>
{% endblock %}

{% block body %}
<div class="grid-container">
  <header class="heading">
    <h1>Latest</h1>
  </header>
  {% for article in object_list %}
  <div class="article">
    <h2>{{ article.title }}</h2>
    {% if article.picture %}
      <img src="{{ article.picture.url }}" alt="{{ article.title }}">
    {% endif %}
    <div class="platforms">
      {% for platform in article.platforms.all %}
        {{ platform.name }}{% if not forloop.last %} | {% endif %}
      {% endfor %}
    </div>
    <p>Author: {{ article.author }}</p>
    <p>Date Posted: {{ article.date_posted }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}

