{% extends "Blog/layout.html" %}


{% block head %}
<style>
body {
    color:black;
    background: rgb(131, 166, 196);
   
}
.picture {
    max-width: 200px;
    max-height: 150px;

}



</style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="heading">
        <h1>Heading</h1>
    </div>
    <div class="latest-news">
        <h1>Latest News</h1>
    </div>
    <div class="features">
        <h1>Featuers</h1>
    </div>
    <div class="upcoming-events">
        <h1>Upcoming Events</h1>
    </div>
    <div class="forum-topics">
        <h1>Forum Topics</h1>
    </div>
    <div class="most-read">
        <h1>Most read</h1>
    </div>
    <div class="guieds">
        <h1>Guides</h1>
    </div>
    <div class="popular-reviews">
        <h1>Popular Reviews</h1>
    </div>
</div>



{% endblock %}

